/****************************************PAGINA INDEX********************************************/
.cajabusqueda {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.cajabusqueda input {
    padding: 12px 18px;
    width: 300px;
    border: 2px;
    text-decoration: none;
    font-size: 16px;
    background-color: white;
}

.cajabusqueda label {
    margin-left: 20%;
}

.logo_index {
    border-radius: 150px;
    border: 3px solid #999;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-left: 45%;
    background-color: white;
}

/***************************************contenido_main_INDEX**************************************/
main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.contenidoindex {
    width: 30%;
}

.categorias {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 30%;
    text-decoration: underline;
}

.ligas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    width: 40%;
}

.ligas li {
    list-style: none;
    border: 5px solid #999999b9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007808;
    color: white;
    margin: 25px 0px 15px 15px;
    text-align: center;
    font-weight: bold;
    width: 300px;
    height: 85px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 180px;

}

.caja {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: 5%;
}

.contenedor article {
    border: none;
    text-align: center;
    color: black;
}

.card {
    width: 300px;
    border: none;
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.card img {
    width: 200px;
    height: 200px;
}

.productostop {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: green;
    background-color: black;
    border: solid 10px gray;
    margin-left: 27%;
}

.productosaleatorios {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: green;
    background-color: black;
    border: solid 10px gray;
    margin-left: 28%;
}

.contenedoraleatorio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-left: 5%;
}

.caja article img {
    color: black;
    border: none;
    padding: 15px;
    width: 200px;
    text-align: center;
    margin: 15px;
    border-radius: 12px;
    background-position: center;
    background: rgba(255, 255, 255, 0.8);
}


/*************************************cerramos****************************************************/

.logo {
    border-radius: 200px;
    border: 3px solid #999;
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-left: 41.5%;
    background-color: white;

}

.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}


.navb {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007808;
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    width: 180px;
    height: 50px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 180px;
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    margin-top: 20px;
}

.formbox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 255, 160);
    width: 35vw;
    height: 850px;
    margin: 50px auto;
    border: 3px solid;
    border-color: black;
    border-radius: 70px;
}

.form1 {
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    padding: 8px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 0;
    color: white;
    font-weight: bold;
    margin: 0 15px;
}

.buttonbox {
    display: flex;
    justify-content: center;
}

header {
    background-image: url(../img/fondo-campo-hierba-verde-deportes-futbol-futbol-fondo-textura-cesped-verde-cerca_64749-2440.jpg);
}

body {
    background-color: #56ff61df;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    ;
    height: 80px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: white;
}

.headl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #007808;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 120px;
    height: 30px;
    font-size: 18px;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;
}

.headr {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007808;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 120px;
    height: 30px;
    font-size: 18px;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;
    margin-left: 1%;
}

.display {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.bullets1 {
    margin: 5px;
}

.obligatorio {
    color: red;
    margin-top: 2px;
    font-size: smaller;
}

.form2 {
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.recuerdame {
    display: flex;
    justify-content: left
}

.recuerdamel {
    margin-left: 5px;
}

.formbox2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: right;
    background-color: rgba(197, 191, 191, 0.5);
    width: 35vw;
    height: 500px;
    margin: 50px auto;
    border-radius: 80px;
    border: 3px solid black;
}

.NO {
    text-align: center;
    color: rgb(206, 16, 16);
    ;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-image: url(../img/pasto.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;




}

.container article {
    border: none;
    padding: 15px;
    width: 200px;
    text-align: center;
    margin: 15px;
    border-radius: 12px;
    background-image: url('../img/fondo-campo-hierba-verde-deportes-futbol-futbol-fondo-textura-cesped-verde-cerca_64749-2440.jpg');
    background-size: cover;
    background-position: center;
    background: rgba(255, 255, 255, 0.8);


}

.container article img {
    width: 180px;
    height: 180px;
}

.productoreal {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;

}

.producto-info img {
    width: 250px;
    margin: 15px;
    border: 2px solid gray;
    border-radius: 10px;

}

.precio {
    font-size: 1.5rem;
    font-weight: bold;
    color: blue;
}



.tags {
    margin-top: 10px;
    padding: 0;
}

.tags li {
    display: inline-block;
    margin-right: 10px;
}

.tags a {
    background: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;

}


.producto-form {
    width: 800px;
    padding: 20px;
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
}


label {
    font-weight: bold;

}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 6px;
}

@media (max-width: 320px) {
form .busqueda {
    text-align: center;
}
.cajabusqueda label {
    margin-left: 0%;
}
.logo_index {
    margin: 10px 20px 30px 40px 
}
.contenidoindex { 
  display: none;
  }

.logo{
    margin: 10px 20px 30px 40px;
    align-items: center;
 }
 .formbox {
    background-color: rgba(128, 128, 128, 0);
    border-color: #99999900;
    width: 20px;
}
.main {
    align-items: center;
    justify-content: center;
    margin-right: 80%;
}
.display{
    justify-content: space-between;
}
.formbox2{
    background-color: rgba(128, 128, 128, 0);
    border-color: #99999900;
    margin-bottom: 80px;
}
.productoreal{
    display: flex; 
    flex-direction: column;
}
.producto-form{
    width: 235px;
}
.nav{
    margin-left: 35px;
}
.titleR{
    font-size: 17px;
}
}