/****************************************PAGINA INDEX********************************************/
.cajabusqueda {
display: flex;
flex-direction: column;
align-items: center;   
margin-top: 20px;
color: white;          
font-size: 24px;
font-weight: bold;
}
.cajabusqueda input {
  padding: 12px 18px;
  width: 300px;
  border: 2px;         
  text-decoration: none;
  font-size: 16px;
  background-color: white;
}

.logo_index{
    border-radius: 150px;
    border: 3px solid #999;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-left: 40%;
    background-color: white;
}

div {
    width: 100%;
    height: 100%;
}
.ligas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    width: 20%;
    height: 100%;
}
.ligas li{
  list-style: none;
  border: 5px solid #999999b9;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: #007808;
  color: white;
  margin: 15px 0px 15px -15px;
  text-align: center;
  font-weight: bold;
  width: 180px;
  height: 50px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 180px;
}

.container_index{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end; 
    align-items: stretch;
    width: 80%;
} 
.container_index article {
    color: black;
    border: none;
    padding: 15px;
    width: 200px;
    text-align: center;
    margin: 15px;
    border-radius: 12px;
    background-position: center;
    background: rgba(255, 255, 255, 0.8);

}
.container_index article img{
   width: 180px;
   height: 180px;
}



.logo{
    border-radius: 200px;
    border: 3px solid #999;
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-left: 41.5%;
    background-color: white;
    
} 

.nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}


.navb{
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #007808;
    color: white;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    width: 180px;
    height: 50px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 180px;
}

.title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    margin-top: 20px;
}
.formbox{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 255, 160);
    width: 35vw;
    height: 780px;
    margin: 50px auto;
    border: 3px solid;
    border-color: black;
    border-radius: 130px;
}

.form1{
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.button{
    padding: 8px;
    background-color:rgb(0, 0, 0);
    border-radius: 5px;
    border: 0;
    color: white;
    font-weight: bold;
    margin: 0 15px;
}

.buttonbox{
    display: flex;
    justify-content: center;
}

header{
    background-image: url(../img/fondo-campo-hierba-verde-deportes-futbol-futbol-fondo-textura-cesped-verde-cerca_64749-2440.jpg);
}
body{
    background-color: #56ff61df;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
footer{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);;
    height: 80px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: white;
}

.headl {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #007808;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 120px;
    height: 30px;
    font-size: 18px;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;  
}
.headr {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #007808;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 120px;
    height: 30px;
    font-size: 18px;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;  
    margin-left: 1%;
}

.display {
    display: flex;
}
a {
  text-decoration: none; 
  color: rgb(255, 255, 255);
}
.bullets1{
    margin: 5px;
}

.obligatorio{
    color: red;
    margin-top: 2px;
    font-size: smaller;
}

.form2{
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.recuerdame{
    display: flex;
    justify-content: left
}

.recuerdamel{
    margin-left: 5px;
}

.formbox2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(197, 191, 191, 0.5);
    width: 35vw;
    height: 450px;
    margin: 50px auto;
    border-radius: 180px;
    border: 3px solid black;
}
.NO{
    color: rgb(206, 16, 16);
    margin-left: 40px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-image: url(../img/pasto.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
    
} 
.container article {
    border: none;
    padding: 15px;
    width: 200px;
    text-align: center;
    margin: 15px;
    border-radius: 12px;
 background-image: url('../img/fondo-campo-hierba-verde-deportes-futbol-futbol-fondo-textura-cesped-verde-cerca_64749-2440.jpg');
    background-size: cover;
    background-position: center;
    background: rgba(255, 255, 255, 0.8);
    color: black;


}
.container article img{
   width: 180px;
   height: 180px;
}







